.filter-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;
    font-weight: 500;
    font-family: Helvetica, Arial, sans-serif;
    color: #213547;
}

.filter-btn {
    border-radius: 8px;
    border: 2px solid transparent;
    background-color: #96C0C1FF;
    cursor: pointer;
    transition: box-shadow 0.4s;
    box-shadow: 2px 2px 4px #213547;
    padding: 6px;

    font-size: 20px;
    font-weight: 500;
    font-family: Helvetica, Arial, sans-serif;
    color: #213547;

}

.filter-btn:hover {
    box-shadow: 4px 4px 2px #213547;
}

.filter-btn:active {
    box-shadow: 2px 2px 4px #213547;
}

.clear-completed {
    border-radius: 8px;
    border: 2px solid transparent;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    font-family: Helvetica, Arial, sans-serif;
    color: #213547;
    cursor: pointer;
    padding: 6px;
}

.clear-completed:hover {
    border: 2px solid #96C0C1FF;
}

.clear-completed:active {
    background-color: #c1dfdf;
}

.filters {
    display: flex;
    gap: 10px;
}

.active {
    background-color: #c1dfdf;
    border-color: #96C0C1FF;
}