.modal {
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: #5F9EA0FF;
    padding: 100px;
    border-radius: 20px;
    z-index: 1000;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.change-input {
    width: 500px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}