.add-input {
    margin-right: 30px;
    width: 400px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.add-btn {
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #96C0C1FF;
    cursor: pointer;
    transition: box-shadow 0.2s;
    color: #213547;
    /*box-shadow: 2px 2px 4px #213547;*/
    box-shadow: 2px 2px 4px #213547;

}

.add-btn:hover {
    box-shadow: 4px 4px 2px #213547;
}
.add-btn:active {
    box-shadow: 2px 2px 4px #213547;
}