*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;

    color: #213547;
    background-color: #ffffff;
}

body {
    display: flex;
    place-items: center;
}
